
Amazing Numbers/*


!Amazing Numbers/task/


Amazing Numbers/task/*


!Amazing Numbers/task/src/


!Amazing Numbers/task/src/**


**/course/
**/course-*
*.course
course-info.yaml
.idea/
out/
target/
*.iml
.DS_Store